/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open-sans/OpenSans-Regular.ttf');
}

.root {
  -fx-background-color: #EBEBFF;
}

.menu-bar {
  -fx-use-system-menu-bar: false;
}

.button {
  -fx-font-family: 'Open Sans', sans-serif;
}

.main-button {
  -fx-background-radius: 1.8em;
  -fx-font-size: 16px;
  -fx-font-weight: 600;

  -fx-background-color: #623CEA;
  -fx-text-fill: white;
}

.main-button:hover, .main-button:active {
  -fx-background-color: #4217DE;
}

.mini-button-round {
  -fx-background-radius: 32em;

  -fx-background-color: #5C35E9;
  -fx-text-fill: white;
}

.mini-button-round:hover, .mini-button-round:active {
  -fx-background-color: #3D15CB;
}

.arrow-btns {
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-border-color: #242230;
  -fx-background-color: #FCD9E0;
  -fx-border-radius: 0.25em;
  -fx-text-fill: #242230;
}

.arrow-btns:hover, .arrow-btns:active {
  -fx-background-color: #F7A1B2;
}

.tab-pane:top *.tab-header-area {
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.416667em 0.166667em 0.0em 0.833em;
}

.tab-pane .tab-header-area .tab-header-background {
  -fx-background-color: #A690F3;
  -fx-effect: null;
}

.anchor-pane {
  -fx-background-color: #E1DAFB;
}

.tab:selected {
  -fx-background-color: #EBEBFF;
}

.tab {
  -fx-font-family: "Open Sans", sans-serif;
  -fx-padding: 2px 18px;
  -fx-background-color: #D3C8F9;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}
